.link {
	&,
	&:link,
	&:visited {
		font-weight: 500;
		font-size: 1.7rem;
		color: $dark-color;
		display: inline-block;
		transition: all 0.3s ease-out;
	}

	&:hover {
		color: $primary-color;
		transform: translate(0, -0.1rem) scale(1.05);
	}

	&:active,
	&:focus {
		outline: none;
	}

	&-green {
		&,
		&:link,
		&:visited {
			color: darken($secondary-color, 35%) !important;
		}

		&:hover,
		&:active {
			color: darken($secondary-color, 55%) !important;
		}
	}
}
