$primary-color: #f6ab8f;
$secondary-color: #A3CB8C;
$tertiary-color: #f9eeaa;
$plain-color: #fffaf0;
$white-color: #fff;
$dark-color: #544332;
$dark-green-text: #86bb69;
$line-color: #a0a0a0;

/* $dark-color-green: rgb(29, 56, 31);
$medium-color-green: rgb(54, 95, 57);
$light-color-green: rgb(72, 150, 77); */

$heading-color: #ff8b61;
$danger-color: #f24444;
