@import '../../../style/abstracts/variables';

.awards {
	&-section {
		margin: 1rem 3rem;
	}

	&-tab {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
		flex-wrap: wrap;

		&-btn {
			flex-grow: 1;
			text-align: center;
			display: block;
			background-color: $primary-color;
			color: $white-color;
			padding: 1.5rem 0;
			font-size: 2rem;
			outline: none;
			cursor: pointer;
			border: 1.5px solid $primary-color;

			&:not(:last-child) {
				border-right: none;
			}

			&.active {
				border-bottom: none;
				color: darken($secondary-color, 30%);
				background-color: lighten($plain-color, 2.5%);
			}
		}
	}

	&-body {
		display: none;
		background-color: lighten($plain-color, 2.5%);
		padding: 3rem;

		&.active {
			border: 1.5px solid $heading-color;
			border-top: none;
			display: block;
		}

		.heading {
			margin-bottom: -0.5rem;
		}

		.text-secondary {
			font-size: 1.8rem;
		}
	}

	&-item {
		margin: 2rem 0;

		&-single {
			font-size: 1.45rem;
		}
	}

	&-icon {
		font-size: 1.8rem;
		margin-bottom: -0.3rem;
		margin-right: 1rem;
		color: $primary-color;
	}
}
