body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
}

.heading {
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
	color: $heading-color;

	&-primary {
		font-size: 3rem;
		line-height: 4rem;
		margin-bottom: 1.6rem;
	}

	&-secondary {
		font-size: 2.3rem;
		line-height: 3rem;
		margin-bottom: 1.6rem;
	}

	&-tertiary {
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1.6rem;
	}

	&-underline {
		border-bottom: 2px solid darken($tertiary-color, 20%);
		display: table;
		margin: 3rem auto 1.5rem auto;
	}
}

p {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.text {
	&-primary {
		color: $primary-color;
	}

	&-secondary {
		color: darken($secondary-color, 25%) !important;
	}

	&-tertiary {
		color: darken($tertiary-color, 30%);
	}

	&-dark {
		color: $dark-color;
	}

	&-danger {
		color: $danger-color;
		font-weight: bold;
	}

	&-right {
		text-align: end;
	}

	&-left {
		text-align: start;
	}

	&-center {
		text-align: center;
	}
}

.underline {
	width: 16rem;
	height: 0.25rem;
	background: lightblue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-top: 1.5rem;
}
