@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.committees {
	&-info {
		padding: 0 3.5rem;
		text-align: start;

		.heading {
			margin-left: 1.5rem;
		}

		@include respond(phone) { //width < 1200px?
			font-size: 1rem;
		}
	}
	
	&-title {
		@include respond(phone) { //width < 1200px?
			font-size: 3.2rem;
		}
	}

	&-text {
		@include respond(phone) { //width < 1200px?
			font-size: 2.2rem;
		}
	}

	&-list {
		@include respond(phone) { //width < 1200px?
			font-size: 2.2rem;
		}

		&-items {
			@include respond(phone) { //width < 1200px?
				font-size: 2rem;
			}
		}
	}
}
