@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.news {
	&-card {
		width: 50%;
		background-color: $plain-color;
		margin: 0 auto;
		padding: 0.4rem;

		@include respond(phone) { //width < 1200px?
			width: 70%;
		}
	}

	&-image {
		width: 78%;
		height: 78%;
		margin: 0.5rem auto 0;
		padding: 0.1rem;

		@include respond(phone) { //width < 1200px?
			width: 95%;
			height: 95%;
		}
	}

	&-info {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		color: $dark-color;
		font-weight: 500;
	}

	&-date {
		font-style: italic;
		font-size: 1.4rem;

		@include respond(phone) { //width < 1200px?
			font-size: 2.6rem;
		}
	}

	.link {
		font-size: 1.8rem;

		&:hover {
			transform: none;
		}

		@include respond(phone) { //width < 1200px?
			font-size: 2.8rem;
		}
	}
}
