@import '../../../style/abstracts/variables';

.news {
	&-card {
		width: 50%;
		background-color: $plain-color;
		margin: 0 auto;
		padding: 0.4rem;
	}

	&-image {
		width: 78%;
		height: 78%;
		margin: 0.5rem auto 0;
		padding: 0.1rem;
	}

	&-info {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		color: $dark-color;
		font-weight: 500;
	}

	&-date {
		font-style: italic;
		font-size: 1.4rem;
	}

	.link {
		font-size: 1.8rem;

		&:hover {
			transform: none;
		}
	}
}
