@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.resources {
	&-list {
		text-align: start;
		width: max-content;
		margin: 0 auto 4rem;

		&-topbox {
			display: flex;
			width: 40vw;
			margin: 0 auto 1rem;
			padding: .1rem;
			justify-content: center;
			align-items: center;
			column-count: 2;
			column-gap: .5rem;
			position: relative;

			@include respond(tab-land) { //width < 1200px?
				display: flex;
				flex-direction: column;
				width: 80vw;
				margin: 0 auto;
			}


			&-section {
				border: 1px solid black;
				height: 20vh;
				background-color: darken($plain-color, 8%);
				width: 50%;
				padding: .5rem;
				display: block;
				box-shadow: 1px 3px 4px rgba(0,0,0,.4);
				margin: 2rem;
				// overflow: hidden;

				@include respond(tab-land) { //width < 1200px?
					height: 17vh;
					padding: .5rem;

				}

				@include respond(tab-port) { //width < 1200px?
					height: 12vh;
					padding: 0;

				}

				@include respond(phone) { //width < 1200px?
					height: 10vh;
				}

				&-title {
					font-size: 1.9rem;
					margin: .7rem auto;
				}

				&-description {
					font-size: 1.4rem;
					font-style: italic;
				}
			}
		}

		&-item {
			padding: 0.5rem;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

		}

		&-link {
			display: inline-block;
			text-decoration: none;
			color: $dark-color;
			font-weight: 500;

			&:hover {
				color: $heading-color;
			}
		}

		&-icon {
			color: $primary-color;
			font-size: 2.3rem;
			margin-bottom: -0.5rem;
			margin-right: 1rem;
			display: inline-block;
		}
	}

	&-letter {
		&-link {
			padding: 0 1rem;
			display: inline-block;
			color: darken($secondary-color, 25%);
			transition: all 0.2s ease-out;

			&:hover {
				color: $secondary-color;
				transform: translateY(-0.1rem) scale(1.1);
			}
		}

		&-section {
			margin: 4rem 2.5rem;
			padding: 4rem 2rem;
			background-color: lighten($plain-color, 2%);
			box-shadow: 0 0.7rem 2rem 2px rgba(84, 67, 50, 0.15);

			.heading-primary {
				text-align: start;
				margin-left: 3rem;
			}

			.heading-tertiary {
				margin: 1rem 6rem 0.5rem;
			}
		}

		&-item {
			padding: 0.5rem 0;

			&-extra {
				margin: 0.3rem 6rem 0;
				color: $danger-color;
				font-size: 1.5rem;
			}
		}
	}
}
