@import '../../../../style/abstracts/mixins';
@import '../../../../style/abstracts/variables';


.event-item {
    // background-color: blue;
    display: flex;
    margin-bottom: 2rem;

    @include respond(phone) { //width < 1200px?
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin: 2rem auto;
        align-items: center;
        text-align: center;
    }

    &-image {
        display: flex;
        // flex: 1;
        width: 50%;
        // height: 100%;
        align-items: center;
        justify-content: center;

        @include respond(phone) { //width < 1200px?
            margin: 0 auto;
        }
        
        &-img {
            display: flex;
            width: 100%;
            margin: 2rem;
            align-items: center;
            justify-content: center;
            // height: 100%;

            @include respond(phone) { //width < 1200px?
                text-align: center;
                margin: .5rem auto;
            }
        }
    }

    &-description {
        width: 50%;
        text-align: left;
        margin: 1.5rem 0 1rem 2rem;

        &-date {
            font-style: italic;
            font-size: 1.5rem;
        }

        @include respond(phone) { //width < 1200px?
            text-align: center;
        }

        &-info {
            margin: .8rem 0;
            
            &-topic {
                font-size: 1.6rem;
                color: darken($dark-green-text, 20%);
            }   

            &-name {
                font-style: italic;
                font-size: 1.4rem;

            }
        }
    }

    &-button{
        color: #fff;
        background-color: #000;
        border: none;
        outline: none;
        padding: .7rem 1.4rem;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: .5rem;
	    transition: all .2s ease-in-out;

        &:hover {
            background-color: lighten(#000, 15%);
        }

        a {
            color: #fff;
        }

        @include respond(phone) { //width < 1200px?
            font-size: 1.6rem;
        }
    }
}