@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.header-section {
	background: url(../../../img/logo_main.jpg) center no-repeat;
	background-size: contain;
	
	height: 35rem;
	width: 100%;
	min-width: 100%;
	background-color: $white-color;

	@include respond(phone) { //width < 1200px?
		// background: url(../../../img/logo_main.jpg) contain no-repeat;
		width: 100vw;
		height: 15rem;
		// width: 100%;
	}
}
