@import '../../../style/abstracts/mixins';


.membership {
	padding: 0 5rem;

	.img {
		width: 30rem;
		margin-top: 3rem;

		@include respond(tab-land) { //width < 1200px?
			width: 20rem;
			margin-top: 2rem;

		}

		@include respond(phone) { //width < 1200px?
			width: 15rem;
			margin-top: 1rem;

		}
	}

	.link:hover {
		transform: translate(0.4rem, -0.15rem) scale(1.05);
	}
}
