@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.footer {
	&-container {
		background-color: $tertiary-color;
		padding: 4rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		@include respond(phone) { //width < 1200px?
			padding: 3rem 0 1rem;
			font-size: 1.2rem;
		}
	}

	&-social {
		bottom: 1rem;
		right: 2.5rem;
		position: absolute;

		@include respond(phone) { //width < 1200px?
			position: relative;
			padding-top: 2rem;
		}

		&-icon {
			font-size: 3rem;
			color: #4267b2;
			margin-bottom: -0.8rem;
			transition: all 0.4s ease-out;

			@include respond(phone) { //width < 1200px?
				font-size: 1.2rem;
			}

			&:hover {
				color: lighten(#4267b2, 15%);
				transform: scale(1.2);
			}
		}
	}
}
